*{
    box-sizing: border-box;
  }
  body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px 30px;
    font-size: 20px;
    padding: 5px;
    }
  .form{
    background-color: #e0dddd;
    padding: 5px 20px 15px 20px;
    border: 1px solid;
    border-radius: 5px;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="date"],
  select,
  textarea {
    margin: 10px;
    width: 100%;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
  }
  .head{
    text-align: center;
  }
  input[type="submit"]
  {
    background-color: rgba(29, 134, 43, 0.795);
    color: black;
    padding: 12px 20px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type="submit"]:hover{
  background-color: #42f77ee5
  }
  